[Unit]
Description=Makes the device discoverable using UPnP.
After=network-online.target post-install.service

[Service]
Environment=PORT=8080
Environment=NODE_ENV=production
ExecStart=/bin/su root -c 'node /usr/lib/upnp-service/upnp-service.js'
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
